<?xml version="1.0" encoding="UTF-8"?>

<suite name="SeleniumDemoFramework">

	<listeners>
		<listener class-name="com.demoframework.utilities.Reporting" />
	</listeners>

	<test name="Selenium Test">
		<parameter name="browser" value="chrome">
			<classes>
				<!-- <class name="com.demoframework.testCases.TC_LoginTest_001" /> -->
				<class name="com.demoframework.testCases.TC_AddCustomerTest_003" />
				
			</classes>
		</parameter>
	</test>
</suite>